nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: gray;
}

nav .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.items a,
.items a:visited {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: gray;
    text-decoration: none;
}

nav .search {
    margin-left: auto;
}

img.grayScale {
    filter: grayscale(100%);

}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: gray;
}

input.search {
    background-image: url(../assets/search-filled.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    width: 300px;
}

@media (max-width: 767px) {
    .search-bar {
        flex-direction: column;
    }

    .search-input {
        order: 2;
    }

    .search-button {
        order: 1;
    }
}